.resume-layout {
    background-color: #fbe9d7;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    border: 2px solid white;
    text-decoration: none;
    color: #013237;
    align-items: center;
}

.resume-layout h2 {
    margin-top: 20px;
}

.resume {
    width: 90vw; 
    margin: 5rem auto; 
    background-color: #FF90BB;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 2.5rem 2rem;
    width: 800px;
    display: grid;
    gap: 1rem 2rem;
} 
 

.box {
    padding: 1rem 1.5rem; 
    max-width: 700px; 
    border: 2px solid #eae6eb;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    align-content: center;
    text-align: left;
}
.box h4 {
    /* text-transform: none; */
    line-height: 1.5;
    text-align: left;
}
.box p {
    color: #013237;
    margin-bottom: 0;
    margin-top: 0.5rem;
}
.box header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box header h4 {
    margin-bottom: 0;
}
.btn {
    background: transparent;
    border-color: transparent;
    width: 2rem;
    height: 2rem;
    background: #eae6eb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #b4345c;
    cursor: pointer;
    margin-left: 1rem;
    align-items: center;
}

/* @media screen and (min-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: 250px 1fr;
    }
} */